[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/monero-project/miniupnp
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/trezor-common"]
	path = external/trezor-common
	url = https://github.com/trezor/trezor-common
[submodule "external/randomx"]
	path = external/randomx
	url = https://github.com/framepix/randomx
[submodule "external/evmone"]
	path = external/evmone
	url = https://github.com/ethereum/evmone
[submodule "external/intx"]
	path = external/intx
	url = https://github.com/framepix/intx
[submodule "external/ethash"]
	path = external/ethash
	url = https://github.com/framepix/ethash
[submodule "external/loki-mq"]
	path = external/loki-mq
	url = https://github.com/framepix/guusmq
